.topBox {
    width: calc(50rem);
    display: flex;
    padding: 5vw;
}
.nameIcon {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    border-radius: 1.5rem;
    background: #C4C4C4;
}
.windowBody {
    border: 1px solid var(--line-border, #8A8A8A);
    background-color: #FFF;

    border-top: 0;
    width: 100%;

}
.formItem {
    padding: 0.75rem 1rem;
    width: 100%;
}
.paginBox {
    border: 1px solid var(--line-border, #8A8A8A);
    background-color: #FFF;
}
.paginItem {
    padding: 0.75rem 1rem;
    width: 50%;
}
.paginItemTag {
    width: 1.75rem;
    height: 1.75rem;
    padding: 0.35rem;
    margin-right: 0.69rem;
    font-family: "Space Mono";
    font-size: 0.6125rem;
    font-style: normal;
    font-weight: 700;
}
.paginItemTagDisable {
    background: #EEE;
    color: #BDBDBD;
}
.paginItemTagActive {
    background: #0D4CF5;
    color: #FFF;
}
.paginItemDisable {
    border-bottom: 3px solid transparent;

}
.paginItemActive {
    border-bottom: 3px solid var(--primary-blue, #0D4CF5);
}

.SelectBox {
    width: 17.1875rem;
    color: #0D4CF5;
}



@media screen and (aspect-ratio < 1.2) {
}
